<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>
    <section id="profile-section">
        <h2 id="displayname">Profile Information</h2>
        <div class="profile-info">
            <div class="profile-details">
                <h3 id="affil"></h3>
		<p id="email"></p>
                <p id="username"></p>
            </div>
        </div>
    </section>

    <div id="block-seti-branding">
	<a href="/">
    	    <img src="/static/images/seticitizenscience.png" alt="SETI Logo">
    	</a>
    </div>
</body>
<script type="text/javascript" src="./static/js/profile.js"></script>
</html>

