<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <canvas id="shootingStarsCanvas"></canvas>

    <div id="seti-login-logo">
        <a href="/">
	    <img src="/static/images/seticitizenscience.png" alt="SETI Logo">
    	</a>
    </div>

    <section id="login-section">
        <h2>Create an Account</h2>
        <div class="signup-container">
	    <div class="form-group">
                <label for="user_input_fullname">Full Name</label>
                <input type="text" id="user_input_fullname" name="user_input_fullname" required>
            </div>
            <div class="form-group">
                <label for="user_input_username">Username</label>
                <input type="text" id="user_input_username" name="user_input_username" required>
            </div>
            <div class="form-group">
                <label for="user_input_email">Email</label>
                <input type="email" id="user_input_email" name="user_input_email" required>
            </div>
            <div class="form-group">
                <label for="user_input_password">Password</label>
                <input type="password" id="user_input_password" name="user_input_password" required>
            </div>
            <div class="form-group">
                <label for="user_input_password-confirm">Confirm Password</label>
                <input type="password" id="user_input_password-confirm" name="user_input_password-confirm" required>
            </div>
            <div class="form-group">
                <label for="user_input_affiliation">Affiliation</label>
                <select id="user_input_affiliation" name="user_input_affiliation" required>
                    <option value="" disabled selected>Select your affiliation</option>
                </select>
            </div>
	    <p id="error_message"></p>
            <button id="submit-button" onclick="javascript:handleUserSignup()">Sign Up</button>
        </div>
    </section>

    <canvas id="shootingStarsCanvas"></canvas>
</body>
<script type="text/javascript" src="./static/js/main.js"></script>
<script type="text/javascript" src="./static/js/signup.js"></script>
<script type="text/javascript" src="./static/js/shooting-stars.js"></script>
</html>

