<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SETI Citizen Science - Training</title>

	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/css/training.css">
</head>
<body>
	<section id="training">
		<h2>Training</h2>
		<p>Analyze the following images and classify each as "noise", "rfi", or "candidate".</p>
		<div id="image-container"></div>
		<button id="submit-button">Submit</button>
	</section>
</body>
<script src="/static/js/training.js"></script>
</html>

